@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600&subset=latin-ext');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: rgb(64,64,64);
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  padding-top: 0;
}

a {
  color: #003263;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

h2, h3, h4, h5 {
  margin-top: 2em;
}

ul li, ol li {
  line-height: 1.5em;
}

table {
  padding: 4px;
  margin: 0px;
  margin-bottom: 4px;
}

table tr th {
  text-align: left;
  border: none;
  padding: 0px;
  margin: 0px;
}

table tr td {
  border: none;
  padding: 0px;
  margin: 0px;
}

table[border="1"] {
  border-collapse: collapse;
  border: none;
  margin-bottom: 4px;
}

table[border="1"] tr th {
  text-align: left;
  font-size: 14px;
  padding: 4px;
  border-width: 1px;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-color: rgb(192,192,192);
  background-color: rgb(224,224,224);
  white-space: nowrap;
}

table[border="1"] tr td {
  font-size: 14px;
  padding: 4px;
  vertical-align: top;
  border-width: 1px;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-color: rgb(192,192,192);
  white-space: nowrap;
}

table[border="1"].compact tr th {
  text-align: left;
  font-size: 12px;
  padding: 4px;
  border-width: 1px;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-color: rgb(192,192,192);
  background-color: rgb(224,224,224);
  white-space: nowrap;
}

table[border="1"].compact tr td {
  font-size: 12px;
  padding: 4px;
  vertical-align: top;
  border-width: 1px;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-color: rgb(192,192,192);
  white-space: nowrap;
}


form {
  display: inline;
}

input:not([type="radio"]):not([type="checkbox"]) {
  -webkit-appearance: none;
  border-radius: 0;
}

input,select,textarea {
  margin: 4px;
  margin-left: 0px;
  margin-bottom: 0px;
  color: rgb(64,64,64);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

input[type="text"],input[type="password"] {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  border-top-color: rgb(128,128,128);
  padding: 4px;
}

input[type="text"]:focus,input[type="password"]:focus,select:focus,textarea:focus {
  outline: none;
  /*  background-color: rgb(255,255,153); */
  background-color: #fcf8e3;
  border-color: rgb(128,128,128);
}

input[type="submit"] {
  position: relative; 
  top: -1px;
  background-color: rgb(224,224,224);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  border-bottom-color: rgb(128,128,128);
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
}

input[type="reset"] {
  position: relative; 
  top: -1px;
  background-color: rgb(224,224,224);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  border-bottom-color: rgb(128,128,128);
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

input[type="submit"]:focus,input[type="reset"]:focus {
  outline: none;
  border-color: rgb(128,128,128);
}

input[type="submit"]:hover,input[type="reset"]:hover {
  border-color: rgb(208,208,208);
  border-bottom-color: rgb(144,144,144);
}

input[type="submit"]:active,input[type="reset"]:active {
  position: relative; 
  top: 0;
  background-color: rgb(255,255,255);
  border-color: rgb(128,128,128);
}

input[disabled="disabled"] {
  color: rgb(128,128,128);
}

input[readonly="readonly"],input[readonly="readonly"]:focus {
  background-color: rgb(224,224,224); 
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
}

select {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  border-top-color: rgb(128,128,128);
  padding: 4px;
}

textarea {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  border-top-color: rgb(128,128,128);
  padding: 4px;
}

span#loading {
  display: block;
  width: 64px;
  height: 64px;
  margin-top: 10em;
  padding-top: 56px;
  background: transparent;
  background-image: url('/img/Loading.gif');
  background-repeat: no-repeat;
  background-position: center top;
  color: rgb(128,128,128);
}

div#login {
  padding-top: 10em;
  padding-bottom: 10em;
}

div#footer {
  color: #a0a0a0;
  padding-top: 2em;
  text-align: center;
  font-size: 12px;
}

div#footer a {
  color: #a0a0a0;
}

.success {
  color: #3c763d;
}

.info {
  color: #31708f;
}

.warning {
  color: #8a6d3b;
}

.error {
  color: #a94442;
}

.muted {
  color: #a0a0a0;
}

.hilight {
  background-color: #fbfbc9;
}

div.border.success, table[border="1"] tr.success {
  background-color: #dff0d8;
}

div.border.info, table[border="1"] tr.info {
  background-color: #d9edf7;
}

div.border.warning, table[border="1"] tr.warning {
  background-color: #fcf8e3;
}

div.border.error, table[border="1"] tr.error {
  background-color: #f2dede;
}

div.border {
  padding: 4px;
  padding-bottom: 6px;
  padding-left: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  margin-bottom: 2em;
}
